%section.checkout.spad
  .container
    = form_with(remote: true, url: orders_path, method: 'POST', id: 'createOrderForm', class: 'checkout__form') do |f|
      = f.hidden_field :products
      .row
        .col-lg-8
          %h5 Billing detail
          .row
            .col-lg-12
              .checkout__form__input
                %p
                  Full Name
                  %span *
                = f.text_field :full_name, type: "text", require: true, placeholder: "Please input your name"
            .col-lg-12
              .checkout__form__input
                %p
                  Address
                  %span *
                = f.text_field :address, type: "text", require: true, placeholder: "Please input your address"
            .col-lg-6.col-md-6.col-sm-6
              .checkout__form__input
                %p
                  Phone
                  %span *
                = f.text_field :phone, type: "number", require: true, placeholder: "+84 123456"
            .col-lg-6.col-md-6.col-sm-6.hidden
              .checkout__form__input
                %p
                  Email
                  %span *
                = f.text_field :email, type: "email", require: true
            .col-lg-12
              .checkout__form__input
                %p
                  Oder notes
                  %span *
                = f.text_field :note, type: "text", placeholder: "Note about your order, e.g, special noe for delivery"
        .col-lg-4
          .checkout__order
            %h5 Your order
            .checkout__order__product
              %ul.js-checkout
                %li
                  %span.top__text Product
                  %span.top__text__right Total

            .checkout__order__total
              %ul
                %li
                  Total
                  %span.js-total-price 0 VNĐ
            %button.site-btn.js-create-order Place oder